<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

	<h2>Owners</h2>
	<div class="table-responsive">
		<table id="vets" class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>Email</th>
					<th>Name</th>
					<th>Address</th>
					<th>City</th>
					<th>Telephone</th>
					<th>Pets</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="owner : ${selections}">
					<td><a th:href="@{/admin/owners/__${owner.id}__}"
						th:text="${owner.username}" /></a></td>
					<td th:text="${owner.email}" />
					<td th:text="${owner.firstName + ' ' + owner.lastName}" />
					<td th:text="${owner.address}" />
					<td th:text="${owner.city}" />
					<td th:text="${owner.telephone}" />
					<td><span th:each="pet : ${owner.pets}" th:text="${pet.name} " /></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-12 text-center">
		
		<a th:if="${currentPage > 1}" 
			th:href="@{${currentPage - 1}+'?lastName='+${owner.lastName}}">Previous</a> <span
			th:unless="${currentPage > 1}">Previous</span>
		<span th:each="i: ${#numbers.sequence(1, totalPages)}">
    	<a th:if="${currentPage != i}" th:href="@{${i}+'?lastName='+${owner.lastName}}">[[${i}]]</a>
    	<span th:unless="${currentPage != i}">[[${i}]]</span>
   				 &nbsp;
			</span>	
		<a th:if="${currentPage < totalPages}" th:href="@{${currentPage + 1}+'?lastName='+${owner.lastName}}">Next</a>
		<span th:unless="${currentPage < totalPages}">Next</span>
		<p style="margin-top: 20px">Total Results: [[${totalResults}]] </p>


	</div>
</body>
</html>
