<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="UTF-8" />
<title>Forgot password</title>
</head>
<body>

	<h2>Forgot password</h2>

	
	<div th:if="${param.sent}"
		class="alert alert-success text-center">Check your email.</div>
		<div th:if="${param.problem}"
		class="alert alert-success text-center">There was unknown problem. Try later</div>
	<form class="form-horizontal" th:action="@{/forgotPassword}" method="POST"
		id="emailForm">
		<div class="form-group has-feedback">

			<div class="row" style="margin-top: 20px">
				<label class="col-sm-2 control-label">Email</label>
				<div class="col-md-3">

					<input class="form-control" type="text" name="email"
						id="email" />

				</div>
			</div>
			
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-default" type="submit" th:text="Submit">Submit</button>
			</div>
		</div>
	</form>
	
</body>

</html>
